@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

/* @theme {
    --color-primary: #4F46E5;
    --color-primary-light: #6366F1;
    --color-primary-dark: #3730A3;

    --color-secondary: #10B981;
    --color-secondary-light: #34D399;
    --color-secondary-dark: #059669;
} */

* {
    font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}